body {
  text-align: center;
}

.inverted {
  background-color: black;
  color: white;
}

#container {
  padding: 30px;
  display: inline-block;
  max-width: 1400px;
  line-height: 18px;
  text-align: left;
}

.box {
  font-size: 10pt;
  padding: 0px;
}

.sent {
  color: gray;
  background-color: gray;
}

.quacked.acked {
  color: #9ACD32;
  background-color: #9ACD32;
}

.quacked.detect_lost_packets {
  color: #440000;
  background-color: #440000;
}

.quacked {
  color: yellow;
  background-color: yellow;
}

.acked {
  color: green;
  background-color: green;
}

.detect_lost_packets {
  color: black;
  background-color: black;
}

.sidecar_detect_lost_packets {
  color: yellow;
  background-color: black;
}
